@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Josefin+Sans:wght@300;400;600&family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca&family=Libre+Franklin:wght@300;600;700&family=Poppins:wght@200;400;600&family=Roboto:wght@100;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* PRIMARY COLOR */

    --DarkCyan: hsl(185, 75%, 39%);
    --VeryDarkDesaturatedBlue: hsl(229, 23%, 23%);
    --DarkGrayishBlue: hsl(227, 10%, 46%);

    /* NEUTRAL COLOR  */
    --DarkGray: hsl(0, 0%, 59%);
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--DarkCyan);
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.top-circle {
    position: absolute;
    top: -250px;
    left: -350px;
}

.bottom-circle {
    position: absolute;
    bottom: -250px;
    right: -350px;
}

.circles img {
    width: 550px;
    opacity: .6;

}

.card {
    background-color: white;
    position: relative;
    width: 300px;
    height: 380px;
    padding: 1rem;
    border-radius: 18px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
    overflow: hidden;
    box-shadow: 1rem 1rem 2rem rgb(45, 50, 72, .4);
}

.header-background {
    position: absolute;
    top: 0;

}

.socials {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    color: var(--VeryDarkDesaturatedBlue);
}

.profile {
    position: relative;

}

.profile img {
    padding: .3rem;
    background-color: white;
    border-radius: 50%;
    margin: 1rem 0 1rem 0;

}

.profile h1 {

    margin-bottom: .5rem;
    font-size: 1.2rem;
}

.profile h1 span {
    color: var(--VeryDarkDesaturatedBlue);
    font-weight: 400;
}

.profile p {
    color: var(--VeryDarkDesaturatedBlue);
    font-size: .9rem;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}

.profile:after {
    display: block;
    margin-bottom: 20px;
    content: '';
    width: 330px;
    height: 1px;
    background-color: rgba(128, 128, 128, .4);
    top: 80px;
    margin-top: .5rem;
}

.socials ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.socials li {
    margin-right: 3.5rem;
}

.socials li:nth-child(3) {
    margin-right: 0;
}


.socials h1 {
    font-size: 1.2rem;

}

.socials p {
    font-size: .8rem;
    letter-spacing: 1px;
}


.attribution {
    font-size: .8rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.2rem;
    color: white;
}

.attribution a {
    color: yellowgreen;
    text-decoration: none;
}

.attribution a:hover {
    color: white;
}